@page "/"
@using PipelineApp2._0.Controllers
@inject IDateEntryController DateEntryController
@inject IQuarterlyHoursController QuarterlyHoursController
<link href="css/Settings.css" rel="stylesheet" />

<PageTitle>Tracker</PageTitle>
<div id="hoursDiv">
    <div id="userDetails">
        <img alt="userPicIcon" width="15" height="15" src="/images/Valentine-drawing-Sweepy.png" />
        <h5>Welcome @UserName </h5>
    </div>
    <div id="hoursDetails">
        <h5>Hours: </h5>
        @switch (QuarterlyHours)
        {
            case >= 0 and <= 10:
                <span style="color:green;">@QuarterlyHoursOverview</span>
                break;
            case > 10:
                <span style="color:orange;">@QuarterlyHoursOverview</span>
                break;
            case < 0:
                <span style="color:red;">@QuarterlyHoursOverview</span>
                break;
        }

    </div>
</div>
<div style="display: flex; flex-direction: row;">
    <article style="width: 25%;">
        @if (PipelineTimer is not null && IsRunning)
        {
            <span @onclick="@StopTimer"><img src="Images/Stop.png" width="100px" /></span>
        }
        else
        {
            <span @onclick="@ToggleTimer"><img src="Images/Start.png" width="100px" /></span>
        }
        <span><b>@(ElapsedTimeCurrentTimeBlock)</b></span>
    </article>
    <article style="width: 75%;">

        @if (TodaysEntries.Any())
        {
            <h1><b>@TodaysEntries.FirstOrDefault()!.StartTime.DayOfWeek</b> @TodaysEntries.FirstOrDefault()!.StartTime.ToString("MMMM d, yyyy")</h1>
            <div style="display: flex; flex-direction: row;">
                <article style="width: 10%; " class="greyBlock">
                    <b>M</b><br />
                    00:00:00
                </article>
                <article style="width: 10%;" class="greyBlock">
                    <b>T</b><br />
                    00:00:00
                </article>
                <article style="width: 10%; position: relative;" class="greyBlock">
                    <b>W</b><br />
                    00:00:00
                </article>
                <article style="width: 10%; position: relative;" class="greyBlock">
                    <b>Th</b><br />
                    @(ElapsedTotalTime)
                </article>
                <article style="width: 10%; position: relative;" class="greyBlock">
                    <b>F</b><br />
                    00:00:00
                </article>
                <article style="width: 10%; position: relative;" class="greyBlock">
                    <b>Sa</b><br />
                    00:00:00
                </article>
                <article style="width: 10%; position: relative;" class="greyBlock">
                    <b>Su</b><br />
                    00:00:00
                </article>
            </div>
            <table>
                @foreach (var entry in TodaysEntries)
                {
                    <tr>
                        <td width="70%"><b>@entry.Description</b><br /><i>@entry.Tags</i></td>
                        <td>@entry.StartTime.ToString("HH:mm") - @entry.EndTime.Value.ToString("HH:mm")</td>
                        <td><img src="Images/Edit.png" style="width:30px" /> </td>
                        <td>
                            <span><img src="Images/Delete.png" width="30px" /></span>
                        </td>
                    </tr>
                }
            </table>
        }
    </article>

</div>