@page "/"
@using PipelineApp2._0.Controllers
@inject IDateEntryController DateEntryController
@inject IQuarterlyHoursController QuarterlyHoursController
<link href="css/Settings.css" rel="stylesheet" />

<PageTitle>Tracker</PageTitle>
<div id="hoursDiv">
    <table style="width: 100%">
        <tr>
            <td style="width: 10%; vertical-align: middle; height=75px;">
                <img alt="userPicIcon" id="userPicIcon" src="/images/profileIcon.png" />
            </td>
            <td style="width: 70%; vertical-align: middle;height=75px;">
                <h5>Welcome @UserName </h5>
            </td>
            <td style="width: 10%; vertical-align: middle; height=75px; text-align: right">
                <h5>Hours: </h5>
            </td>
            <td style="width: 10%; vertical-align: middle;height=75px; text-align: left">
                @switch (QuarterlyHours)
                {
                    case >= 0 and <= 10:
                        <h5 style="color:green;">@QuarterlyHoursOverview</h5>
                        break;
                    case > 10:
                        <h5 style="color:orange;">@QuarterlyHoursOverview</h5>
                        break;
                    case < 0:
                        <h5 style="color:red;">@QuarterlyHoursOverview</h5>
                        break;
                }
            </td>
        </tr>
    </table>
</div>
<div style="display: flex; flex-direction: row;">
    <article style="width: 25%;">
        @if (PipelineTimer is not null && IsRunning)
        {
            <span @onclick="@StopTimer"><img src="Images/Stop.png" width="100px" /></span>
        }
        else
        {
            <span @onclick="@ToggleTimer"><img src="Images/Start.png" width="100px" /></span>
        }
        <span><b>@(ElapsedTimeCurrentTimeBlock)</b></span>
        <span>@CurrentDescription</span>
        @if (PipelineTimer is null || !IsRunning)
        {
            <div>
                <input type="text" @bind="Task" style="width: 75%; border-radius: 10px; margin-left: 5px;" placeholder=" Task description" />
            </div>
            <div style="display: flex; flex-direction: column; margin-top: 20px;" >
                @foreach (var tag in Tags)
                {
                    @if (tag.Selected)
                    {
                        <div class="tag" style="background-color: @tag.Colour; border-color: Highlight; cursor: pointer;" @onclick="() => TagClick(tag.Id)"><span>@tag.Name</span></div>
                    }
                    else
                    {
                        <div class="tag" style="background-color: @tag.Colour; cursor: pointer;" @onclick="() => TagClick(tag.Id)"><span>@tag.Name</span></div>
                    }
                }
            </div>
        }
    </article>
    <article style="width: 75%;">

        @if (TodaysEntries.Any())
        {
            <h1><b>@TodaysEntries.FirstOrDefault()!.StartTime.DayOfWeek</b> @TodaysEntries.FirstOrDefault()!.StartTime.ToString("MMMM d, yyyy")</h1>
            <div style="display: flex; flex-direction: row;">
                @foreach(var previousDay in PreviousDaysWorkHours)
                {
                    <article style="width: 10%; " class="@(previousDay.Key.DayOfWeek != Today ? (previousDay.Key.IsWorkDay ? "greyBlock" : "greyStripes") : "darkGreyBlock")">
                        <div id="weekdayDiv">
                        @switch (previousDay.Key.Id)
                        {
                            case 1:
                                <b>Mo</b><br/>
                                break;
                            case 2:
                                <b>Tu</b><br/>
                                break;
                            case 3:
                                <b>We</b><br/>
                                break;
                            case 4:
                                <b>Th</b><br/>
                                break;
                            case 5:
                                <b>Fr</b><br/>
                                break;
                            case 6:
                                <b>Sa</b><br/>
                                break;
                            case 7:
                                <b>Su</b><br/>
                                break;
                        }
                        @if (previousDay.Key.DayOfWeek == Today)
                        {
                            @(ElapsedTotalTime)
                        }
                        else
                        {
                            @previousDay.Value
                        }
                        </div>
                    </article>
                }
            </div>
            <table>
                @foreach (var entry in TodaysEntries)
                {
                    <tr>
                        <td width="70%">

                            @if (!EditEntryId.Equals(entry.Id) )
                            {
                                <b>@entry.Description</b>
                                <br />
                                <i>@entry.Tags</i>
                            }
                            else
                            {
                                <input type="text" @bind="entry.Description" />
                                <br />
                                <input type="text" @bind="entry.Tags" />
                            }

                        </td>
                        <td>
                            
                            @if (!EditEntryId.Equals(entry.Id))
                            {
                                @($"{entry.StartTime:HH:mm} - {entry.EndTime.Value:HH:mm}");

                            }
                            else
                            {
                                <input type="time" @bind="entry.StartTime" @bind:format="HH:mm:ss" />

                                <input type="time" @bind="entry.EndTime" @bind:format="HH:mm:ss" />
                                 
                            }
                        </td>
                        <td>
                            @if (!EditEntryId.Equals(entry.Id) )
                            {
                                <span @onclick="() => EditEntry(entry.Id)"><img src="Images/Edit.png" width="30px" /></span>
                            }
                            else
                            {
                                <button @onclick="() => SaveEntry(entry.Id)">Save</button>
                            }
                        </td>
                        <td>
                            <span @onclick="() => DeleteEntry(entry.Id)"><img src="Images/Delete.png" width="30px" /></span>
                        </td>
                    </tr>
                }
            </table>
        }
    </article>
</div>