@page "/settings"
@using PipelineApp2._0.Controllers
@using System.ComponentModel
@using System.Reflection.Metadata
@inject ISettingsController SettingsController
<link href="css/Settings.css" rel="stylesheet" />
<PageTitle>Settings</PageTitle>

<div style="display: flex; flex-direction: row;">
    <article style="width: 25%; position: relative;" class="greyBlock">
        <h4>Profile</h4>
        <p>Team Pipeline</p>
        <img alt="userPic" width="100" height="100" src="/images/profileIcon.png" />
        <img src="/images/Edit.png" alt="edit" width="32" height="32" style="cursor: pointer; position: absolute; bottom: 20px; right: 20px;" />
    </article>
    <article style="width: 75%;" class="greyBlock">
        <form method="post" style="display: flex; flex-direction: row;">
            <div style="width: 930px;">
                @Output
                <h4>Working schedule</h4>
                <div>
                    <table cellspacing="3" cellpadding="3">
                        <tr>
                            <td>&nbsp;</td>
                            @foreach (var weekDay in SettingViewModel.WeekDays)
                            {
                                <td>
                                    <center>
                                        <b style="margin: 0px 16px;">@weekDay.Name.Substring(0, 3)</b>
                                    </center>
                                </td>
                            }
                            <td><b>Total</b></td>
                        </tr>
                        <tr>
                            <td><span style="margin-right: 10px; display: block; min-width: 116px;">Working days</span></td>
                            @if (!Editing)
                            {
                                @foreach (var weekDay in SettingViewModel.WeekDays)
                                {
                                    <td>
                                        <center>
                                                <img src="/images/@(weekDay.IsWorkDay ? "check-circle.png" : "cross-circle.png")" width="20px" height="20px" />
                                        </center>
                                    </td>
                                }
                            }
                            else
                            {
                                @foreach (var weekDay in TempWeekDays)
                                {
                                    <td>
                                        <center>
                                            <input type="checkbox" @bind="weekDay.IsWorkDay" />
                                        </center>
                                    </td>
                                }
                            }
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span style="margin-right: 10px; display: block; min-width: 116px;">Working hours</span></td>
                            @if (!Editing)
                            {
                                @foreach (var weekDay in SettingViewModel.WeekDays)
                                {
                                    <td>
                                        <center>
                                            @(weekDay.Hours)@("h") @(weekDay.Minutes == 0 ? "" : $"{weekDay.Minutes}m")
                                        </center>
                                    </td>
                                }
                            }
                            else
                            {
                                @foreach (var weekDay in TempWeekDays)
                                {
                                    <td>
                                        @if (weekDay.IsWorkDay)
                                        {
                                            <input type="number" @bind="weekDay.Hours"/>@("h")
                                            <input type="number" @bind="weekDay.Minutes"/>@("m")
                                        }
                                    </td>
                                }
                            }
                            
                            <td><b>@(TotalHours)h @(TotalMinutes == 0 ? "" : $"{TotalMinutes}m")</b></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div style="margin-left: 16px;">
                <h4>Lunch breaks</h4>
                <div>
                    @if (!Editing)
                    {
                        @(SettingViewModel.AddLunchBreaks ? $"Adding lunch breaks of {SettingViewModel.LunchBreakInMinutes} minutes" : "Not adding lunch breaks... yet")
                    }
                    else
                    {
                        <label><input type="checkbox" @bind="TempAddLunchBreaks" /> Add lunch breaks</label>
                        <br />
                        <input type="number" @bind="TempLunchBreakInMinutes" /> @("minutes")
                    }
                </div>
            </div>
        </form>
        <div style="position: absolute; bottom: 20px; left: 20px;">
            @if (!Editing)
            {
                <img src="/images/Edit.png" alt="edit" width="32" height="32" @onclick="EditWeekDays" style="cursor: pointer;"/>
            }
            else
            {
                <button @onclick="SaveWeekDays">Save</button>
                <button @onclick="CancelWeekDays">Cancel</button>
            }
        </div>
    </article>
</div>
<div style="display: flex; flex-direction: row;">
    <article style="width: 25%;">
        <h4 style="margin-right: 10px;">Tags</h4><br/>
        <div style="display: flex; flex-direction: row;">
            <div>
                <input type="text" @bind="NewTag" style="width: 75%; border-radius: 10px; margin-left: 5px;" placeholder=" Tag name"/>
                &nbsp;
                <input type="color" name="favcolor" @bind="NewTagColour" style="float:right;"/>
                <br/><br/>  
                <button @onclick="() => CreateNewTag()" class="creationLink">Create new tag</button>
            </div>
        </div><br/>
        <div style="display: flex; flex-direction: column;">
            @foreach (var tag in SettingViewModel.Tags)
            {
                <div class="tag" style="background-color: @tag.Colour; position: relative;">
                    <span>@tag.Name</span>
                    @if (!tag.IsDefault)
                    {
                        <img style="position: absolute; right: 10px; cursor: pointer" alt="delete" width="20" height="20" src="/images/Delete.png" @onclick="() => TagDelete(tag.Id)"/>
                    }
                </div>
            }
        </div>
    </article>
    <article style="width: 75%;">
        <h4>Absence calendar</h4>
        <div>TODO</div>
    </article>
</div>

